<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        description="Auto generate the next-highest number for the new staff form."
        name="Auto Assign Teacher ID"
        version="1.0.1"
        xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">

    <access_request>
      <field table="USERS" field="TEACHERNUMBER" access="ViewOnly" />
    </access_request>

    <publisher name="Iron County School District Data Team">
        <contact email="data@ironmail.org"/>
    </publisher>
</plugin>
